@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf");
}

.toastStyle {
  @apply bg-gray-900 text-slate-900 dark:bg-gray-600 dark:text-slate-100;
}

.toast {
  color: red;
}



@layer utilities {
  .animation-delay-75 {
    animation-delay: 75ms;
  }

  .animation-delay-500 {
    animation-delay: 500ms;
  }

  .animation-delay-200 {
    animation-delay: 200ms;
  }

  .animation-delay-400 {
    animation-delay: 400ms;
  }

  .animation-delay-1000 {
    animation-delay: 1s;
  }

  .min-height-mobile-dynamic {
    min-height: 100vh;
    min-height: 100dvh;
  }

  .height-mobile-dynamic {
    height: 100vh;
    height: 100dvh;
  }
}